<!DOCTYPE html>
<html>
  <%- include head.ejs %>
  <body>
  
    <%- include nav.ejs %>
    <!-- LOGIN FORM -->

    <% if (message.length > 0) { %>
        <div class="alert"><%= message %></div>
    <% } %>

    <div class="row">    
      <form class="col s12" action="/poll/new" method="post">
      
        <div class="card card-form grey lighten-5">
           <p>When your poll has been submitted it will need to be approved, once approved it will appear on the homepage.</p>
            <div class="row">
                <div class="input-field col s12">
                <input id="title" type="text" name="title" data-length="36">
                <label for="title">Poll Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="description" type="text" name="description" data-length="48">
                <label for="description">Poll Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="choices-1" type="text" name="choices" data-length="20">
                <label for="choices">Choice 1</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                <input id="choices-2" type="text" name="choices" data-length="20">
                <label for="choices">Choice 2</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                <input id="choices-3" type="text" name="choices" data-length="20">
                <label for="choices">Choice 3</label>
                </div>
            </div>
            <p>Login required to vote?</p>
            <input name="isPremium" type="radio" id="isPremiumTrue" checked="checked"/>
            <label for="isPremiumTrue">Yes</label>

            <input name="isPremium" type="radio" id="isPremiumFalse" />
            <label for="isPremiumFalse">No</label>

            <button class="btn btn-form" id="submit-poll" type="submit">Submit</button>
        </div>
      </form>
    </div>
    

    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
  </body>
</html>
 