.btn-card{
    top: 35px;
}


.card {
    word-break: break-word;
    margin: .5rem 0 2.5rem 0;
    .card-action{
        border-top: 0px;
    }
    &__link{
        text-transform: none !important;
        &:hover{
            color: #59e799 !important;
        }
    }
}