.card-form{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 1rem;
}


// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0px 1000px #fafafa inset !important;
// }

.input-field input{
    padding-left: 1rem !important;
    margin-top: 0.4rem !important;
    width: 98% !important;
}



.input-field input.valid {
    border-bottom: 1px solid #3ED783 !important;
    box-shadow: 0 1px 0 0 #3ED783;
}


.input-field input:focus {
    border-bottom: 1px solid #474949 !important;
    box-shadow: 0 1px 0 0 #474949 !important;
  }

.input-field input:focus + label {
    color: #474949 !important;
  }

.input-field label {
    color: #474949;
}

.btn-form{
    bottom: -33px;
}