nav{
    box-shadow: none;
    margin-bottom: 1rem;

    ul p{
        color: #474949;
        line-height: 30px;
        margin-left: 1rem;
        margin-top: 18px;
        font-size: 1rem;
        display: block;
        padding: 0 15px;
        cursor: pointer;
    }

    a{
        //mobile menu icon
        color: #130a11;
    }
}

.nav-wrapper{
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 .75rem;
}
    
    
.sidenav li>p{
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    margin-left: 1rem;
    margin-top: 18px;
}

.nav{
    &__link{
        color: #474949;
        line-height: 30px;
        margin-left: 1rem;
        margin-top: 18px;
        @media (min-width: 996px) {
            &:hover:after {
                width: 100%;
                background: $green;
            }
        }
       
        &:hover{
            background-color: transparent;
        }
        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }
    }
}